/*
          JJJJJJJJJJJ     OOOOOOOOO     VVVVVVVV           VVVVVVVV   AAA               NNNNNNNN        NNNNNNNNIIIIIIIIII
          J:::::::::J   OO:::::::::OO   V::::::V           V::::::V  A:::A              N:::::::N       N::::::NI::::::::I
          J:::::::::J OO:::::::::::::OO V::::::V           V::::::V A:::::A             N::::::::N      N::::::NI::::::::I
          JJ:::::::JJO:::::::OOO:::::::OV::::::V           V::::::VA:::::::A            N:::::::::N     N::::::NII::::::II
            J:::::J  O::::::O   O::::::O V:::::V           V:::::VA:::::::::A           N::::::::::N    N::::::N  I::::I  
            J:::::J  O:::::O     O:::::O  V:::::V         V:::::VA:::::A:::::A          N:::::::::::N   N::::::N  I::::I  
            J:::::J  O:::::O     O:::::O   V:::::V       V:::::VA:::::A A:::::A         N:::::::N::::N  N::::::N  I::::I  
            J:::::j  O:::::O     O:::::O    V:::::V     V:::::VA:::::A   A:::::A        N::::::N N::::N N::::::N  I::::I  
            J:::::J  O:::::O     O:::::O     V:::::V   V:::::VA:::::A     A:::::A       N::::::N  N::::N:::::::N  I::::I  
JJJJJJJ     J:::::J  O:::::O     O:::::O      V:::::V V:::::VA:::::AAAAAAAAA:::::A      N::::::N   N:::::::::::N  I::::I  
J:::::J     J:::::J  O:::::O     O:::::O       V:::::V:::::VA:::::::::::::::::::::A     N::::::N    N::::::::::N  I::::I  
J::::::J   J::::::J  O::::::O   O::::::O        V:::::::::VA:::::AAAAAAAAAAAAA:::::A    N::::::N     N:::::::::N  I::::I  
J:::::::JJJ:::::::J  O:::::::OOO:::::::O         V:::::::VA:::::A             A:::::A   N::::::N      N::::::::NII::::::II
 JJ:::::::::::::JJ    OO:::::::::::::OO           V:::::VA:::::A               A:::::A  N::::::N       N:::::::NI::::::::I
   JJ:::::::::JJ        OO:::::::::OO              V:::VA:::::A                 A:::::A N::::::N        N::::::NI::::::::I
     JJJJJJJJJ            OOOOOOOOO                 VVVAAAAAAA                   AAAAAAANNNNNNNN         NNNNNNNIIIIIIIIII

*/
body
{
  background-color: #ededed;
  font-family: 'Teko', sans-serif;
  position: relative;
  margin-top: 0;
}
.jandy-header
{
  background-color: rgba(21, 21, 21, 1);
  color: rgba(255, 255, 255, 1);
  padding: 30px 0;
  width: 100%;
  z-index: 1;
}
.jandy-navbar
{
  background-color: rgba(21, 21, 21, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.navbar
{
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default
{
  background-color: rgba(21, 21, 21, 1);
  border: 2px solid rgba(255, 29, 178, 1);
}
.navbar .navbar-nav 
{
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse 
{
  padding-top: 15px;
  text-align: center;
}
.navbar-nav .dropdown-menu .caret 
{
  transform: rotate(-90deg);
}
.navbar-default .navbar-nav > li > a
{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover
{
  background-color: transparent;
  color: rgba(255, 29, 178, 1);
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover 
{
  color: rgba(255, 255, 255, 1);
}
ul.nav li:hover > ul.dropdown-menu 
{
  display: block;
}
#sliderIntro .item img
{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}