extends templates/layout

block content
  .container
    .jumbotron.mt-3
      h1.text-center 
        | Hello World!
      p.lead.text-center
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id 
        | porttitor felis. Pellentesque id tellus non ex sollicitudin 
        | scelerisque ac nec tortor. Nam mollis lectus iaculis dictum mattis. 
        | Praesent vel diam id ipsum dapibus convallis. Proin eget nisl nec 
        | arcu cursus rutrum. Donec gravida luctus eros, at lobortis orci. 
        | Nunc pulvinar ipsum sed egestas porta. In nec euismod mauris. 
        | Fusce commodo mattis purus ut commodo.
