extends templates/layout

block meta
  meta(name='description', content='')

block title
  title Jandy

block content
  include sections/hero-slider
  include sections/welcome
  include sections/about
  include sections/gallery
  include sections/call-to-action