@import "../common/variables";
@import "../common/mixins";

.call-to-action-section {
  color: $color-mine-shaft;
  h2.message {
    font-family: 'Tangerine', sans-serif;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3px;
  }
  hr {
    width: 30%;
  }
}