.footer-section {
  padding: 30px 0;
  .copyright {
    @include font-size(1.5);
  }
  .love {
    @include font-size(1.8);
    font-family: $font-tangerine;
    letter-spacing: 2px;
    .heart {
      color: $color-crimson;
      margin: 0 11px;
    }
  }
}
