@import "../common/variables";
@import "../common/mixins";

.gallery-section {
  hr {
    width: 10%;
  }
  .gallery-thumbnail {
    margin: 10px 0;
    position: relative;
    img {
      width: 100%;
    }
    .overlay {
      @include transition(.5s ease);
      background-color: $color-secondary;
    }
    &:hover {
      .overlay {
        @include opacity(0.7);
      }
    }
  }
}
