@import "../common/variables";
@import "../common/mixins";

.hero-slider-section {
  height: 100%;
  div:not(.owl-dots):not(.owl-nav) {
    height: 100%;
  }
  .owl-carousel {
    .hero-item {
      @include background-size(cover);
      background-position: center;
      background-repeat: no-repeat;
    }
    .owl-nav {
      @include transform(translate(-50%,-50%));
      left: 50%;
      margin-top: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      .owl-prev,
      .owl-next {
        @include opacity(0.3);
        @include transition(opacity 0.3s ease);
        background-color: $color-black;
        margin: 0;
        &:hover {
          @include opacity(0.8);
        }
        i {
          color: $color-white;
          padding: 9px;
        }
        @media (max-width: $screen-sm-min) {
          display: none;
        }
      }
      .owl-prev {
        @include border-radius(0 5px 5px 0);
        float: left;
      }
      .owl-next {
        @include border-radius(5px 0 0 5px);
        float: right;
      }
    }
  }
}
