.hero-slider-section {
  &,
  div:not(.hero-text):not(.owl-dots):not(.owl-nav):not(.owl-prev):not(.owl-next) {
    @media (max-width: $screen-xs-max) {
      min-height: 500px;
    }
    @media (min-width: $screen-sm-min) {
      min-height: 700px;
    }
  }
  .hero-slider {
    .hero-item {
      @include background-size(cover);
      @include text-shadow(0 0 21px $color-black);
      background-position: center;
      background-repeat: no-repeat;
      .hero-text {
        @include transform(translate(-50%,-50%));
        left: 50%;
        position: absolute;
        top: 50%;
        width: 80%;
        .hero-title,
        .hero-subtitle {
          visibility: hidden;
          &.animated {
            visibility: visible;
          }
        }
        .hero-title {
          color: $color-white;
          font-size: 111px;
          font-weight: 400;
        }
        .hero-subtitle {
          @include background-color-opacity($color-primary, 0.5);
          color: $color-secondary;
          font-size: 40px;
        }
      }
    }
    .owl-nav {
      margin-top: 0;
      .owl-prev,
      .owl-next {
        @include opacity(0.3);
        @include transition(opacity 0.3s ease);
        @include transform(translate(0,-50%));
        color: $color-secondary;
        background-color: $color-black;
        font-size: 17px;
        margin: 0;
        padding: 30px 26px;
        position: absolute;
        top: 50%;
        &:hover {
          @include opacity(0.8);
        }
        @media (max-width: $screen-sm-min) {
          display: none;
        }
      }
      .owl-prev {
        @include border-bottom-right-radius(5px);
        @include border-top-right-radius(5px);
        left: 0;
      }
      .owl-next {
        @include border-bottom-left-radius(5px);
        @include border-top-left-radius(5px);
        right: 0;
      }
    }
  }
}
