@import "../common/variables";
@import "../common/mixins";

.nav-bar-section {
  color: $color-white;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  .navbar-default {
    background-color: transparent;
    border: 2px solid $color-persian-rose;
    .navbar-collapse {
      padding-top: 15px;
    }
    ul.navbar-nav {
      display: inline-block;
      float: none;
      .dropdown-menu .caret {
        @include transform(rotate(-90deg));
      }
      & > li {
        & > a {
          @include transition(all 0.3s ease);
          &:focus,
          &:hover {
            background-color: transparent;
            color: $color-white;
          }
        }
        &.active {
          & > a,
          & > a:focus,
          & > a:hover {
            background-color: transparent;
            color: $color-persian-pink;
          }
        }
        &.open > a {
          background-color: transparent;
          color: $color-white;
        }
        &:hover > ul.dropdown-menu {
          display: block;
        }
      }
    }
  }
}
