.nav-bar-section {
  color: $color-white;
}
.navbar-default {
  @include box-shadow(0 5px 5px rgba($color-black, 0.5));
  background-color: $color-cod-gray;
  .navbar-header {
    @media (max-width: $screen-xs-max) {
      padding: 10px 0;
    }
  }
  .navbar-brand {
    .site-logo {
      @include transition(color 0.5s ease);
      color: $color-white;
      font-family: $font-tangerine;
      font-size: 50px;
      letter-spacing: 2px;
      img {
        height: 55px;
      }
      &:hover {
        color: $color-primary;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 2px 5px;
    }
  }
  .navbar-toggle {
    @include transition(background-color 0.3s ease);
    border: 1px solid $color-primary;
    &:focus,
    &:hover {
      background-color: $color-primary;
    }
    .icon-bar {
      background-color: $color-secondary;
    }
  }
  ul.navbar-nav {
    @include transition(all 0.5s ease);
    display: inline-block;
    float: none;
    font-family: $font-teko;
    font-size: 20px;
    letter-spacing: 3px;
    .dropdown-menu .caret {
      @include transform(rotate(-90deg));
    }
    & > li {
      & > a {
        @include transition(all 0.3s ease);
        color: $color-silver;
        padding: 30px 10px;
        &:focus,
        &:hover {
          background-color: transparent;
          color: $color-white;
        }
        @media (max-width: $screen-xs-max) {
          color: $color-black;
          padding: 17px;
          &:focus,
          &:hover {
            color: $color-secondary;
          }
        }
      }
      &.active {
        & > a,
        & > a:focus,
        & > a:hover {
          background-color: transparent;
          color: $color-primary;
        }
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .navbar-offcanvas {
      background-color: $color-tertiary;
      overflow: auto;
    }
  }
}