@import "../common/variables";
@import "../common/mixins";

.services-section {
  p {
    font-size: 20px;
  }
  .services-counter {
    font-size: 150px;
  }
  .services-icon {
    color: $color-goblin;
    padding: 10px;
  }
}