.sponsors-section {
  p {
    @include font-size(1.4);
  }
  .sponsors-slider {
    margin: 15px 0;
    .sponsor-item {
      @include grayscale(100%);
      @include transition(filter 0.4s ease-in-out);
      &:hover {
        @include grayscale(0);
      }
    }
    .owl-stage-outer {
      background-color: $color-porcelain;
    }
    .owl-dots {
      .owl-dot {
        span {
          background-color: $color-white;
        }
        &.active,
        &:hover {
          span {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}