@import "../common/variables";
@import "../common/mixins";

.sponsors-section {
  p {
    font-size: 20px;
  }
  .sponsors-slider {
    margin: 15px 0;
    .owl-dots {
      .owl-dot {
        span {
          background-color: $color-white;
        }
        &.active,
        &:hover {
          span {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}