@import "../common/variables";
@import "../common/mixins";

.welcome-section {
  color: $color-alabaster;
  h2.message {
    font-family: 'Tangerine', sans-serif;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3px;
  }
  p.description {
    font-size: 30px;
  }
  hr {
    width: 70%;
  }
}