doctype html
html
  head
    meta(charset='utf-8')
    block meta
    meta(name='keywords', content='')
    meta(name='author', content='Jovani Warguez')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine|Teko')
    link(rel='stylesheet', href='./styles/font-awesome.min.css')
    link(rel='stylesheet', href='./styles/animate.min.css')
    link(rel='stylesheet', href='./styles/lightbox.min.css')    
    link(rel='stylesheet', href='./styles/owl.carousel.min.css')
    link(rel='stylesheet', href='./styles/bootstrap.min.css')
    link(rel='stylesheet', href='./styles/main.min.css')
  body
    include ../sections/nav-bar
    block content
    include ../sections/footer-bottom
    script(type='text/javascript', src='./scripts/jquery.min.js')
    script(type='text/javascript', src='./scripts/jquery.bootstrap-autohidingnavbar.min.js')
    script(type='text/javascript', src='./scripts/jquery.mousewheel.min.js')
    script(type='text/javascript', src='./scripts/jquery.nav.min.js')
    script(type='text/javascript', src='./scripts/jquery.scrollUp.min.js')
    script(type='text/javascript', src='./scripts/jquery.stellar.min.js')
    script(type='text/javascript', src='./scripts/lightbox.min.js')
    script(type='text/javascript', src='./scripts/owl.carousel.min.js')
    script(type='text/javascript', src='./scripts/main.min.js')