doctype html
html
  head
    meta(charset='utf-8')
    block meta
    meta(name='keywords', content='')
    meta(name='author', content='Jovani Warguez')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine|Teko')
    link(rel='stylesheet', href='./styles/vendor.min.css')
    link(rel='stylesheet', href='./styles/main.min.css')
  body
    noscript
      .container
        .jumbotron
          h1.text-center 
            | Error: JavaScript is disabled!
            br
            | Please enable JavaScript in your web browser.
      style.
        .jumbotron {
          margin-top: 30px;
        }
        .jumbotron h1 {
          font-family: Calibri, sans-serif;
          font-size: 30px;
        }
        .main-content {
          display: none
        }
    .main-content(role='document')
      .loader.loader-fixed
        .loader-wrapper
          .loading-bar.loading-big.loading-clockwise
      include ../sections/nav-bar
      block content
      include ../sections/contact
      include ../sections/footer
    script(type='text/javascript', src='./scripts/vendor.min.js')
    script(type='text/javascript', src='./scripts/main.min.js')