@import "../common/variables";
@import "../common/mixins";

hr.black-line {
  border-top: 3px solid $color-black;
}
hr.primary-line {
  border-top: 3px solid $color-primary;
}
hr.secondary-line {
  border-top: 3px solid $color-secondary;
}
hr.tertiary-line {
  border-top: 3px solid $color-tertiary;
}
hr.quaternary-line {
  border-top: 3px solid $color-quaternary;
}
hr.white-line {
  border-top: 3px solid $color-white;
}
