@import "../common/variables";
@import "../common/mixins";

.icon {
  background-color: $color-goblin;
  display: table;
  height: 150px;
  width: 150px;
  i {
    color: $color-white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  &.icon-circle {
    border-radius: 50%;
  }
  &.icon-square {
    border-radius: 3px;
  }
}