.icon {
  display: table;
  height: 150px;
  width: 150px;
  i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  &.icon-circle {
    @include border-radius(50%);
  }
  &.icon-square {
    @include border-radius(3px);
  }
  &.icon-primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.icon-secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &.icon-tertiary {
    background-color: $color-tertiary;
    color: $color-white;
  }
  &.icon-quaternary {
    background-color: $color-quaternary;
    color: $color-black;
  }
}