.icon {
  display: inline-table;
  i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #{&}-big {
    height: 150px;
    width: 150px;
  }
  #{&}-medium {
    height: 100px;
    width: 100px;
  }
  #{&}-small {
    height: 50px;
    width: 50px;
  }
  #{&}-circle {
    @include border-radius(50%);
  }
  #{&}-square {
    @include border-radius(3px);
  }
  #{&}-primary {
    background-color: $color-primary;
    color: $color-white;
  }
  #{&}-secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  #{&}-tertiary {
    background-color: $color-tertiary;
    color: $color-white;
  }
  #{&}-quaternary {
    background-color: $color-quaternary;
    color: $color-black;
  }
}