html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: $color-porcelain;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4 {
  font-family: 'Tangerine', sans-serif;
}
h1 {
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 4px;
}
h2 {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 3px;
}
h3 {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 2px;
}
h4 {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 1px;
}
h5 {
  font-size: 17px;
  text-transform: uppercase;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
section[class*=-section] {
  position: relative;
}

// Animation
.fadeIn {
  @include fadeIn (
    $delay: .3s
  ); 
}
.zoomIn {
  @include zoomIn(
    $delay: .5s,
    $duration: 1.1s
  ); 
}

// Background
.background-none {
  background: none !important;
}
.background-black {
  background-color: $color-black !important;
}
.background-dark {
  background-color: $color-mine-shaft !important;
}
.background-gray {
  background-color: $color-slate-gray !important;
}
.background-light {
  background-color: $color-alabaster !important;
}
.background-primary {
  background-color: $color-primary !important;
}
.background-secondary {
  background-color: $color-secondary !important;
}
.background-tertiary {
  background-color: $color-tertiary !important;
}
.background-quaternary {
  background-color: $color-quaternary !important;
}
.background-silver {
  background-color: $color-silver !important;
}
.background-white {
  background-color: $color-white !important;
}

// No border
.no-border {
  border: 0 !important;
}
.no-border-top {
  border-top: 0 !important;
}
.no-border-right {
  border-right: 0 !important;
}
.no-border-bottom {
  border-bottom: 0 !important;
}
.no-border-left {
  border-left: 0 !important;
}

// No border radius
.no-border-radius {
  @include border-radius(0 !important);
}
.no-border-bottom-left-radius {
  @include border-bottom-left-radius(0 !important);
}
.no-border-bottom-right-radius {
  @include border-bottom-right-radius(0 !important);
}
.no-border-top-left-radius {
  @include border-top-left-radius(0 !important);
}
.no-border-top-right-radius {
  @include border-top-right-radius(0 !important);
}

// No margin
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}

// No padding
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}

// No wrap
.no-wrap {
  white-space: nowrap !important;
}

// Overlay
.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

// ScrollUp
#scrollUp {
  @include border-radius(10px);
  @include opacity(0.5);
  @include transition(opacity 0.3s ease);
  background-color: $color-cod-gray;
  bottom: 21px;
  color: $color-primary;
  padding: 0 12px 5px;
  right: 21px;
}
#scrollUp:hover {
  @include opacity(1);
}

// Section
.content-section {
  padding: 70px 0;
  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }
  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }
}

// Text align
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-justify {
  text-align: justify !important;
}

// Text color
.text-color-black {
  color: $color-mine-shaft;
}
.text-color-gray {
  color: $color-slate-gray;
}
.text-color-primary {
  color: $color-primary;
}
.text-color-secondary {
  color: $color-secondary;
}
.text-color-white {
  color: $color-alabaster;
}

// Wow js config
.wow { 
  visibility: hidden; 
}
