/* Colors */

// Color Variables
$color-alabaster: #f9f9f9;
$color-beige: #f5f5dc;
$color-bitter-lemon: #c8d110;
$color-black: #000;
$color-cod-gray: #1c1c1c;
$color-crimson: #dc143c;
$color-dusty-gray: #979797;
$color-east-bay: #3d547e;
$color-electric-violet: #7a11d1;
$color-goblin: #3d7d52;
$color-lilac-bush: #a571d1;
$color-mine-shaft: #212121;
$color-mojo: #bf3e30;
$color-old-gold: #d5b930;
$color-porcelain: #e7ebed;
$color-silver: #ccc;
$color-slate-gray: #708090;
$color-white: #fff;

// Color palette
$color-primary: $color-electric-violet;
$color-secondary: $color-bitter-lemon;
$color-tertiary: $color-lilac-bush;
$color-quaternary: $color-beige;

/* Fonts */
$fonts: "../fonts"; // Fonts path

// Font families
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-tangerine: 'Tangerine', sans-serif;
$font-teko: 'Teko', sans-serif;

/* Images */
$images: "../images"; // Images path