/* Colors */

// Color Variables
$color-alabaster: #f9f9f9;
$color-beige: #f5f5dc;
$color-black: #000;
$color-bright-sun: #fed33c;
$color-cod-gray: #1c1c1c;
$color-dusty-gray: #979797;
$color-east-bay: #3d547e;
$color-electric-violet: #7a11d1;
$color-goblin: #3d7d52;
$color-gold: #ffd700;
$color-mine-shaft: #212121;
$color-mojo: #bf3e30;
$color-old-gold: #d5b930;
$color-persian-pink: #f77fc0;
$color-persian-rose: #ff1db2;
$color-porcelain: #e7ebed;
$color-silver: #ccc;
$color-slate-gray: #708090;
$color-white: #fff;

// Color palette
$color-primary: $color-electric-violet;
$color-secondary: $color-bright-sun;
$color-tertiary: $color-dusty-gray;
$color-quaternary: $color-beige;

/* Fonts */
$fonts: "../fonts"; // Fonts path

/* Images */
$images: "../images"; // Images path