// Override bootstrap glyphicons path
$icon-font-path: "../fonts/";

// Colors
$color-alabaster: #f9f9f9;
$color-black: #000;
$color-cod-gray: #1c1c1c;
$color-mine-shaft: #212121;
$color-persian-pink: #f77fc0;
$color-persian-rose: #ff1db2;
$color-white: #fff;

// Images
$images: "../images";
