section.about-section
 .container.background-silver
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3
              | About 
      .row
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-primary
            i.glyphicon.glyphicon-bookmark
          .text-align-center    
            h4
              | Mission
            hr.black-line
            p
              | Maecenas tempus, tellus eget condimentum rhoncus.
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-primary
            i.fa.fa-lightbulb-o.fa-5x
          .text-align-center    
            h4
              | Idea
            hr.black-line
            p
              | Cras dapibus. Vivamus elementum semper nisi.   
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-tertiary
            i.fa.fa-eye.fa-5x
          .text-align-center    
            h4
              | Vision
            hr.black-line
            p
              |  Aliquam lorem ante, dapibus in, viverra quis.
