section.about-section.text-color-black#about
  .container.background-gray
    .content-section
      .row
        .col-md-12
          .text-align-center
            h3.wow.fadeIn
              | About
            hr.color-primary-line.length-one-line.wow.zoomIn
      .row
        .col-sm-4
          .about-item.text-align-center   
            .about-logo.icon.icon-big.icon-circle.icon-secondary.wow.zoomIn
              i.fa.fa-globe.fa-5x 
            h4
              | Mission
            hr.color-black-line.length-one-line.wow.zoomIn
            p.about-description
              | Maecenas tempus, tellus eget condimentum rhoncus.
        .col-sm-4
          .about-item.text-align-center   
            .about-logo.icon.icon-big.icon-circle.icon-primary.wow.zoomIn
              i.fa.fa-lightbulb-o.fa-5x 
            h4
              | Idea
            hr.color-black-line.length-one-line.wow.zoomIn
            p.about-description
              | Cras dapibus. Vivamus elementum semper nisi.   
        .col-sm-4
          .about-item.text-align-center 
            .about-logo.icon.icon-big.icon-circle.icon-tertiary.wow.zoomIn
              i.fa.fa-eye.fa-5x   
            h4
              | Vision
            hr.color-black-line.length-one-line.wow.zoomIn
            p.about-description
              |  Aliquam lorem ante, dapibus in, viverra quis.
