section.about-section.text-color-black(id='about')
 .container.background-silver
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3
              | About
            hr.color-primary-line.length-one-line
      .row
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-secondary
            i.fa.fa-globe.fa-5x.icon-circle
          .text-align-center    
            h4
              | Mission
            hr.color-black-line.length-one-line
            p
              | Maecenas tempus, tellus eget condimentum rhoncus.
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-primary
            i.fa.fa-lightbulb-o.fa-5x
          .text-align-center    
            h4
              | Idea
            hr.color-black-line.length-one-line
            p
              | Cras dapibus. Vivamus elementum semper nisi.   
        .col-md-4.col-sm-4
          .logo.icon.icon-circle.icon-tertiary
            i.fa.fa-eye.fa-5x
          .text-align-center    
            h4
              | Vision
            hr.color-black-line.length-one-line
            p
              |  Aliquam lorem ante, dapibus in, viverra quis.
