section.content-section.call-to-action-section.background-silver.text-align-center
  .container
    .row
      h2
        | Call To Action
      hr.pink-line
      a.btn.btn-primary.btn-lg(href="/contact") Click Me
