section.content-section.call-to-action-section.background-silver.text-align-center.text-color-gray
  .container
    .row
      h2
        | Call To Action
      hr.primary-line
      a.btn.btn-primary.btn-lg(href="/contact") Click Me
