section.content-section.call-to-action-section.text-align-center.text-color-white(data-stellar-background-ratio='0.5')
  .container
    .row
      h2
        | Call To Action
      hr.color-primary-line.length-two-line
      a.btn.btn-primary.btn-lg(href="/contact") Click Me
