section.content-section.contact-section.background-dark.text-color-white#contact(data-stellar-background-ratio='0.5')
  .container
    .row
      .contact-column.col-md-4
        h4.wow.fadeIn
          | Our office
        hr.color-secondary-line.wow.zoomIn
        .row       
          .col-md-3.col-xs-2.text-align-right
            .contact-logo.icon.icon-small.icon-circle.icon-tertiary.wow.zoomIn
                i.fa.fa-map-marker.fa-2x
          .col-md-9.col-xs-10      
            h5 
              | Address
            p.contact-detail
              | 11 New Design Street, Metro Manila 009
              br
              | Philippines 1997
        .row     
          .col-md-3.col-xs-2.text-align-right
            .contact-logo.icon.icon-small.icon-circle.icon-tertiary.wow.zoomIn
                i.fa.fa-phone.fa-2x
          .col-md-9.col-xs-10
            h5
              | Phone
            p.contact-detail
              | 09 (110) 197 119
              br
              | 09 (110) 197 997
        .row      
          .col-md-3.col-xs-2.text-align-right
            .contact-logo.icon.icon-small.icon-circle.icon-tertiary.wow.zoomIn
                i.fa.fa-envelope.fa-2x
          .col-md-9.col-xs-10
            h5 
              | Email
            p.contact-detail
              | jandy@example.com   
      .contact-column.col-md-4
        h4.wow.fadeIn
          | Contact us
        hr.color-secondary-line.wow.zoomIn
        .contact-form
          form.form-horizontal(role='form')
            .form-group
              .col-md-3.col-xs-2.text-align-right
                label(for='name') Name:
              .col-md-9.col-xs-10
                input#name.form-control(type='text', placeholder='Name')
            .form-group
              .col-md-3.col-xs-2.text-align-right
                label(for='email') Email:
              .col-md-9.col-xs-10
                input#email.form-control(type='email', placeholder='Email')
            .form-group
              .col-md-3.col-xs-2.text-align-right
                label(for='comment') Comment:
              .col-md-9.col-xs-10
                textarea#comment.form-control(rows='5', placeholder='Your comment')
            button.form-submit.btn.btn-outline.btn-primary.btn-md(type='submit') Send
      .contact-column.col-md-4
        h4.wow.fadeIn
          | Keep connected
        hr.color-secondary-line.wow.zoomIn
        .row.text-align-center
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-facebook.fa-2x
          a(hreef='#')    
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-twitter.fa-2x
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-instagram.fa-2x
        .row.text-align-center      
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-google-plus.fa-2x   
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-youtube-play.fa-2x
        .row.text-align-center
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-behance.fa-2x
          a(hreef='#')    
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-linkedin.fa-2x
          a(href='#')
            .social-logo.icon.icon-small.icon-square.icon-primary.wow.zoomIn
              i.fa.fa-vimeo.fa-2x      