section.counter-section.text-color-black
 .container.background-light
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3.wow.fadeIn
              | Happy to serve you
            hr.color-primary-line.length-one-line.wow.zoomIn
      .row
        .col-md-3.col-sm-6
          .text-align-center
            p.counter.wow.zoomIn(data-from='1', data-to='9')
              | 1
            .counter-icon
              i.fa.fa-trophy.fa-3x  
            h4
              | Awards win
            hr.color-secondary-line.length-one-line.wow.zoomIn 
            p
              | Falli assentior ex nec, rebum inimicus
        .col-md-3.col-sm-6
          .text-align-center 
            p.counter.wow.zoomIn(data-from='3', data-to='11')
              | 3
            .counter-icon
              i.fa.fa-camera.fa-3x   
            h4
              | Photos taken
            hr.color-secondary-line.length-one-line.wow.zoomIn
            p
              | Vide quas urbanitas cu vim
        .col-md-3.col-sm-6
          .text-align-center
            p.counter.wow.zoomIn(data-from='17', data-to='19')
              | 17
            .counter-icon
              i.fa.fa-coffee.fa-3x   
            h4
              | Ordered coffees
            hr.color-secondary-line.length-one-line.wow.zoomIn
            p
              | Ea vis tritani tacimates, duo appareat
        .col-md-3.col-sm-6
          .text-align-center
            p.counter.wow.zoomIn(data-from='21', data-to='97')
              | 21
            .counter-icon
              i.fa.fa-smile-o.fa-3x 
            h4
              | Happy customers
            hr.color-secondary-line.length-one-line.wow.zoomIn
            p
              | Mei labore fabulas perfecto id