section.footer-section.background-dark.text-align-center.text-color-white
  p.copyright
    | &copy; Copyright 2017 Jandy
  p.love
    | Made with
    i.heart.fa.fa-heart.fa-1x
    | by Jovani Cadorna Warguez