section.gallery-section(id='gallery')
  .container.background-light
    .content-section
      .row
        .col-md-12
          .text-align-center
            h3
              | Gallery
      hr.color-primary-line.length-one-line       
      .row
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
        .col-md-4.col-sm-6
          .gallery-thumbnail
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='image-1')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
