section.gallery-section#gallery
  .container.background-light
    .content-section
      .row
        .col-md-12
          .text-align-center
            h3.wow.fadeIn
              | Gallery
      hr.color-primary-line.length-one-line.wow.zoomIn  
      .row
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-1.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-1.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Tristique vel temporibus tempor, sollicitudin eget, velit tellus, tristique facilisi
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-2.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-2.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Ut egestas platea, magnis a, felis risus ac metus, montes dolor suspendisse donec nunc hendrerit felis
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-3.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-3.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Libero pellentesque sit vel porta at mauris, leo diam donec mauris, quam molestie
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-4.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-4.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Donec turpis, nulla nunc amet
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-5.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-5.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Habitasse leo, ipsum feugiat euismod porttitor sed, sem egestas amet et at sed aenean, molestie turpis sapien 
        .col-md-4.col-sm-6
          .gallery-thumbnail.wow.fadeInUp
            a(href='./images/gallery/gallery-6.jpg' data-lightbox='main-gallery')
              img.img-responsive(src='./images/gallery/gallery-6.jpg')
              .overlay
                .zoom-icon
                  i.fa.fa-search.fa-5x
            .gallery-caption.text-align-center
              | Massa ut curabitur id suscipit adipiscing 
