section.content-section.gallery-section.background-gray
  .container
    .row
      .col-md-12
        .text-align-center
          h3
            | Gallery
    hr.black-line        
    .row
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')
      .col-md-4
        .gallery-thumbnail
          img.img-responsive(src='./images/gallery/gallery-1.jpg')            