section.header-section
  .container
    .row
      .col-sm-6
        a(href='./index.html')
          img(src='./images/jandy-logo.png', alt='jandy logo', title='jandy logo')
      .col-sm-3.col-sm-offset-3.text-right
        form
          .input-group
            input.form-control(type='text', placeholder='')
            span.input-group-btn
              button.btn.btn-default(type='button') Search
