section.hero-slider-section.background-black
  .owl-carousel.owl-theme
    .item
      img(src='./images/hero-slider/slider-1.jpg')
    .item
      img(src='./images/hero-slider/slider-1.jpg')
    .item
      img(src='./images/hero-slider/slider-1.jpg')
    .item
      img(src='./images/hero-slider/slider-1.jpg')
    .item
      img(src='./images/hero-slider/slider-1.jpg')
    .item
      img(src='./images/hero-slider/slider-1.jpg')