section.hero-slider-section.background-black
  .owl-carousel.owl-theme
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
    .hero-item(style='background-image: url("./images/hero-slider/slider-1.jpg");')
