section.hero-slider-section.background-black
  .container
    .row
      .owl-carousel.owl-theme
        .item
          img(src='./images/slider-section/slider_1.png')
        .item
          img(src='./images/slider-section/slider_1.png')
        .item
          img(src='./images/slider-section/slider_1.png')
        .item
          img(src='./images/slider-section/slider_1.png')
        .item
          img(src='./images/slider-section/slider_1.png')
        .item
          img(src='./images/slider-section/slider_1.png')
