section.hero-slider-section.background-black
  .hero-slider.owl-carousel.owl-theme
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-1.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title(data-animation="fadeInUp", data-delay="200")
                | Multum te amo Jandy
              p.hero-subtitle(data-animation="zoomIn", data-delay="400")
                | I love you very much Jandy
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-2.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title(data-animation="fadeInUp", data-delay="200")
                | Numquam te obliquo
              p.hero-subtitle(data-animation="zoomIn", data-delay="400")
                | I will never forget you
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-3.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title(data-animation="fadeInUp", data-delay="200")
                | Angelus custos meus es tu
              p.hero-subtitle(data-animation="zoomIn", data-delay="400")
                | You're my guardian angel   
