section.hero-slider-section.background-black
  .hero-slider.owl-carousel.owl-theme
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-1.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title.animated.fadeinUp
                | Multum te amo Jandy
              p.hero-subtitle.animated.pulse
                | I love you very much Jandy
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-2.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title
                | Numquam te obliquo
              p.hero-subtitle
                | I will never forget you
    .hero-item(style='background-image: url("./images/hero-slider/hero-slider-3.jpg");')
      .container
        .row
          .col-md-8.col-md-offset-2
            .hero-text.text-align-center
              h2.hero-title
                | Angelus custos meus es tu
              p.hero-subtitle
                | You're my guardian angel   