section.nav-bar-section
  .container
    .row
      nav.navbar.navbar-default.navbar-fixed-top.no-border.no-border-radius.no-margin-bottom
        .container
          .navbar-header
            .navbar-brand
              a.site-logo(href='#')
                img(src='./images/jandy-logo.svg', alt='jandy logo', title='Logo')
                | Jandy
            button.navbar-toggle.offcanvas-toggle(type='button', data-toggle='offcanvas', data-target='#js-bootstrap-offcanvas')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-offcanvas.navbar-offcanvas-touch(id='js-bootstrap-offcanvas')
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#about') About
              li
                a(href='#gallery') Gallery
              li
                a(href='#services') Services
              li
                a(href='#testimonials') Testimonials
              li
                a(href='#contact') Contact
