section.nav-bar-section.background-black
  .container
    .row
      nav.navbar.navbar-default.no-border-radius.no-border-top.no-margin-bottom
        .navbar-header
          .navbar-brand
            a.site-logo(href='#')
              img(src='./images/jandy-logo.svg', alt='jandy logo', title='jandy logo')
              | Jandy
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') About
            li
              a(href='#') Gallery
            li
              a(href='#') Services
            li
              a(href='#') Testimonials  
            li
              a(href='#') Clients
            li
              a(href='#') Contact