section.nav-bar-section.text-align-center
  .container
    .row
      nav.navbar.navbar-default.no-border-radius.no-margin-bottom
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse.text-align-center
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Gallery
            li
              a(href='#') Services
            li
              a(href='#') Clients
            li
              a(href='#') Contact
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Theme
                b.caret
              ul.dropdown-menu
                li
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | UI-Kits
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Grid
                    li
                      a(href='#') Cards
                    li
                      a(href='#') Buttons
                    li
                      a(href='#') Cards
                    li
                      a(href='#') Lists
                    li
                      a(href='#') Modals
                    li
                      a(href='#') Alerts & Toasts
                    li
                      a(href='#') Panels
                    li
                      a(href='#') Loaders
                    li
                      a(href='#') Tabs & Steps
                    li
                      a(href='#') Other
                li
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tables
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Table
                    li
                      a(href='#') Datatable
                li
                  a(href='#') Forms
                li
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Icons
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Glyphicon
                    li
                      a(href='#') Font-Awesome
                li
                  a(href='#') License
