section.nav-bar-section
  .container
    .row
      nav.navbar.navbar-default.navbar-fixed-top.no-border.no-border-radius.no-margin-bottom
        .container
          .navbar-header
            .navbar-brand
              a.site-logo(href='#')
                img(src='./images/jandy-logo.svg', alt='jandy logo', title='Logo')
                | Jandy
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') About
              li
                a(href='#') Gallery
              li
                a(href='#') Services
              li
                a(href='#') Testimonials
              li
                a(href='#') Contact
