section.services-section.text-color-black#services
 .container.background-silver
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3.wow.fadeIn
              | Services
            hr.color-primary-line.length-one-line.wow.zoomIn