section.services-section.text-color-black(id='services')
 .container.background-silver
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3
              | Services
            hr.color-primary-line.length-one-line
      .row
        .col-md-3.col-sm-6
          .text-align-center
            p.services-counter(data-from='1', data-to='9')
              | 1
            .services-icon
              i.fa.fa-trophy.fa-3x  
            h4
              | Awards win
            p
              | Falli assentior ex nec, rebum inimicus
        .col-md-3.col-sm-6
          .text-align-center 
            p.services-counter(data-from='3', data-to='11')
              | 3
            .services-icon
              i.fa.fa-camera.fa-3x   
            h4
              | Photos taken
            hr.color-secondary-line.length-one-line
            p
              | Vide quas urbanitas cu vim
        .col-md-3.col-sm-6
          .text-align-center
            p.services-counter(data-from='17', data-to='19')
              | 17
            .services-icon
              i.fa.fa-coffee.fa-3x   
            h4
              | Ordered coffees
            hr.color-secondary-line.length-one-line
            p
              | Ea vis tritani tacimates, duo appareat
        .col-md-3.col-sm-6
          .text-align-center
            p.services-counter(data-from='21', data-to='97')
              | 21
            .services-icon
              i.fa.fa-smile-o.fa-3x 
            h4
              | Happy customers
            hr.color-secondary-line.length-one-line    
            p
              | Mei labore fabulas perfecto id