section.services-section.text-color-black#services
 .container.background-silver
   .content-section
      .row
        .col-md-12
          .text-align-center
            h3.wow.fadeIn
              | Services
            hr.color-primary-line.length-one-line.wow.zoomIn
      .row
        .col-sm-4
          .service-card.text-align-center.wow.fadeInUp
            .service-thumbnail
              img.img-responsive(src='./images/services/service-1.jpg')
              .service-title
                h4
                  | Awesome Animations
            hr.color-primary-line.length-three-line.wow.zoomIn  
            .service-description
              p
               | Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam  
        .col-sm-4
          .service-card.text-align-center.wow.fadeInUp
            .service-thumbnail
              img.img-responsive(src='./images/services/service-2.jpg')
              .service-title
                h4
                  | Simple
            hr.color-primary-line.length-three-line.wow.zoomIn  
            .service-description
              p
               |  At vero eos et accusamus et iusto odio dignissimos ducimus qui 
        .col-sm-4
          .service-card.text-align-center.wow.fadeInUp
            .service-thumbnail
              img.img-responsive(src='./images/services/service-3.jpg')
              .service-title
                h4
                  | 100% Responsive
            hr.color-primary-line.length-three-line.wow.zoomIn  
            .service-description
              p
               | Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel             