section.sponsors-section.text-align-center.text-color-white(id='sponsors')
  .container.background-black
    .content-section
      .row
        .col-md-12
          .text-align-center
            h3.text-color-secondary
              | Sponsors
      hr.secondary-line        
      .row
        p
          |  Vim ea vocibus moderatius, eos et atomorum maiestatis
      .row    
        .container
          .owl-carousel.owl-theme
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')
            .sponsor-item
              img(src='./images/sponsors/sponsor-1.jpg')              
