section.sponsors-section.text-align-center.text-color-white#sponsors
  .container.background-black
    .content-section
      .row
        .col-md-12
          .text-align-center
            h3.text-color-secondary.wow.fadeIn
              | Sponsors
      hr.color-primary-line.length-one-line.wow.zoomIn
      .row
        p
          |  Vim ea vocibus moderatius, eos et atomorum maiestatis
      .row    
        .container
          .sponsors-slider.owl-carousel.owl-theme
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-1.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-2.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-3.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-4.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-5.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-1.png')
            .sponsor-item
              a(href='#')  
                img(src='./images/sponsors/sponsor-2.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-3.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-4.png')
            .sponsor-item
              a(href='#')
                img(src='./images/sponsors/sponsor-5.png')