section.testimonials-section.text-align-center#testimonials
  .container.background-white
    .content-section
      .row
        .col-md-12
          h3.wow.fadeIn
            | Testimonials
      hr.color-primary-line.length-one-line.wow.zoomIn  
      .row
        .container
          .testimonials-slider.owl-carousel.owl-theme
            .testimonial-item
              .col-sm-8.col-sm-offset-2.col-xs-12
                blockquote.no-border-left
                  q
                    | Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                    | per inceptos himenaeos. Curabitur sodales ligula in libero. Sed 
                    | dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean 
                    | quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis 
                    | tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi 
                    | lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce 
                    | ac turpis quis ligula lacinia aliquet.
                .testimonial-name
                  | - John Doe
            .testimonial-item
              .col-sm-8.col-sm-offset-2.col-xs-12
                blockquote.no-border-left
                  q
                    | Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, 
                    | viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt 
                    | malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet 
                    | mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. 
                    | Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a 
                    | tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis 
                    | tristique, dignissim in, ultrices sit amet, augue. Proin sodales 
                    | libero eget ante. 
                .testimonial-name
                  | - Jane Doe
            .testimonial-item
              .col-sm-8.col-sm-offset-2.col-xs-12
                blockquote.no-border-left
                  q
                    | Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris 
                    | massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti 
                    | sociosqu ad litora torquent per conubia nostra, per inceptos 
                    | himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia 
                    | nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque 
                    | sem at dolor. Maecenas mattis. 
                .testimonial-name
                  | - Johnny Doe
