section.content-section.welcome-section.background-primary.text-color-white
  .container
    .row
      .col-md-12
        .text-align-center
          h1.wow.fadeIn
            | Welcome to Jandy
    hr.color-white-line.length-four-line.wow.zoomIn
    .row
      .col-md-8.col-md-offset-2
        .text-align-center
          p.description.wow.fadeIn
           | Lorem ipsum dolor sit amet, nec eu liber cetero. 
           | Ei sea assum oblique, facete partiendo nam in, 
           | no sea dicunt probatus. An meis homero causae eum, 
           | mel te erant mentitum eloquentiam. 
           | Partem contentiones mel cu.
